<div class="wrapper wrapper-content">
        <div class="row">
                <div class="col-lg-12">
                  <div class="ibox">
            
                      <div class="ibox-title">
                          <span class="pull-right">(<strong>5</strong>) events</span>
                          <h5>Events</h5>
                      </div>
            
                    <div class="ibox-content">
                       
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label class="control-label" for="price">Event Name</label>
                            <input type="text" id="price" name="price" value="" placeholder="Name" class="form-control">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label class="control-label" for="quantity">Event Type</label>
                            <input type="text" id="quantity" name="quantity" value="" placeholder="Type" class="form-control">
                          </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <button class="btn btn-primary" style="margin-top: 23px;" type="submit">Search</button>
                            </div>
                          </div>
                      </div>
            
                      <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
            
                                
                                    <th>User </th>
                                    <th>Event Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Location</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                          <tbody>
            
                        
                              <tr>
                        
                                  <td>
                                                    <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                                        <img alt="image" class="img-circle" width="50px" src="assets/images/a7.jpg">
                                                    </a>
                                                    <!-- <span class="user-name">Patrick Smith</span> -->
                                                    <h3 style="margin-top:14px;">Patrick Smith</h3>
                                                </td>
                                
                                  <td>Birthday</td>
                                  <td>Jul 14, 2015 12:00</td>
                                  <td>Jul 14, 2015 12:00</td>
                                   <td>Mohali, punjab</td><td>
                                                <div class="btn-group">
        
                                                    <button class="btn-white btn btn-xs" [routerLink]="['/event-details']" >View Details</button>
        
                                                </div>
                                            </td>
                                </tr>
                                <tr>
                                  
                                    <td>
                                                    <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                                        <img alt="image" class="img-circle" width="50px" src="assets/images/a7.jpg">
                                                    </a>
                                                    <!-- <span class="user-name">Patrick Smith</span> -->
                                                    <h3 style="margin-top:14px;">Patrick Smith</h3>
                                                </td>
                                  
                                    <td>Birthday</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Jul 14, 2015 12:00</td>
                                     <td>Mohali, punjab</td><td>
                                                <div class="btn-group">
        
                                                    <button class="btn-white btn btn-xs" [routerLink]="['/event-details']" >View Details</button>
        
                                                </div>
                                            </td>
                                  </tr>
                                  <tr>
                                  
                                      <td>
                                                    <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                                        <img alt="image" class="img-circle" width="50px" src="assets/images/a7.jpg">
                                                    </a>
                                                    <!-- <span class="user-name">Patrick Smith</span> -->
                                                    <h3 style="margin-top:14px;">Patrick Smith</h3>
                                                </td>
                                    
                                      <td>Birthday</td>
                                      <td>Jul 14, 2015 12:00</td>
                                      <td>Jul 14, 2015 12:00</td>
                                       <td>Mohali, punjab</td><td>
                                                <div class="btn-group">
        
                                                    <button class="btn-white btn btn-xs" [routerLink]="['/event-details']" >View Details</button>
        
                                                </div>
                                            </td>
                                    </tr>
                                    <tr>
                                       
                                        <td>
                                                    <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                                        <img alt="image" class="img-circle" width="50px" src="assets/images/a7.jpg">
                                                    </a>
                                                    <!-- <span class="user-name">Patrick Smith</span> -->
                                                    <h3 style="margin-top:14px;">Patrick Smith</h3>
                                                </td>
                                      
                                        <td>Birthday</td>
                                        <td>Jul 14, 2015 12:00</td>
                                        <td>Jul 14, 2015 12:00</td>
                                         <td>Mohali, punjab</td><td>
                                                <div class="btn-group">
        
                                                    <button class="btn-white btn btn-xs" [routerLink]="['/event-details']" >View Details</button>
        
                                                </div>
                                            </td>
                                      </tr>
                                      <tr>
                                         
                                          <td>
                                                    <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                                        <img alt="image" class="img-circle" width="50px" src="assets/images/a7.jpg">
                                                    </a>
                                                    <!-- <span class="user-name">Patrick Smith</span> -->
                                                    <h3 style="margin-top:14px;">Patrick Smith</h3>
                                                </td>
                                        
                                          <td>Birthday</td>
                                          <td>Jul 14, 2015 12:00</td>
                                          <td>Jul 14, 2015 12:00</td>
                                           <td>Mohali, punjab</td><td>
                                                <div class="btn-group">
        
                                                    <button class="btn-white btn btn-xs" [routerLink]="['/event-details']" >View Details</button>
        
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                         
                                            <td>
                                                    <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                                        <img alt="image" class="img-circle" width="50px" src="assets/images/a7.jpg">
                                                    </a>
                                                    <!-- <span class="user-name">Patrick Smith</span> -->
                                                    <h3 style="margin-top:14px;">Patrick Smith</h3>
                                                </td>
                                          
                                            <td>Birthday</td>
                                            <td>Jul 14, 2015 12:00</td>
                                            <td>Jul 14, 2015 12:00</td>
                                             <td>Mohali, punjab</td><td>
                                                <div class="btn-group">
        
                                                    <button class="btn-white btn btn-xs" [routerLink]="['/event-details']" >View Details</button>
        
                                                </div>
                                            </td>
                                          </tr>
                                          <tr>
                                         
                                              <td>
                                                    <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                                        <img alt="image" class="img-circle" width="50px" src="assets/images/a7.jpg">
                                                    </a>
                                                    <!-- <span class="user-name">Patrick Smith</span> -->
                                                    <h3 style="margin-top:14px;">Patrick Smith</h3>
                                                </td>
                                            
                                              <td>Birthday</td>
                                              <td>Jul 14, 2015 12:00</td>
                                              <td>Jul 14, 2015 12:00</td>
                                               <td>Mohali, punjab</td><td>
                                                <div class="btn-group">
        
                                                    <button class="btn-white btn btn-xs" [routerLink]="['/event-details']" >View Details</button>
        
                                                </div>
                                            </td>
                                            </tr>
                    
                          </tbody>
                        </table>
                      </div>
            
                    </div>
                  </div>
                </div>
              </div>
    </div>

