<div class="wrapper wrapper-content" >
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox" >

                <div class="ibox-title">
                    <span class="pull-right">(<strong *ngIf="eventPlannerList" >{{eventPlannerList.count}}</strong>) events Planners</span>
                    <h5>Event Planners</h5>
                </div>

                <div class="ibox-content">

                    <div class="row" *ngIf="eventPlannerList">
                        <div class="col-sm-3" >
                            <div class="form-group">
                                <label class="control-label" for="price">Name</label>
                                <input type="text" id="price"   [(ngModel)]="request.name" name="price" value="" placeholder="Name"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="quantity">Email</label>
                                <input type="text" id="quantity"   [(ngModel)]="request.email" name="quantity" value="" placeholder="Email"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="quantity">Phone No.</label>
                                <input type="number" id="quantity"  [(ngModel)]="request.phone_number" name="quantity" value="" placeholder="Phone no."
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <button class="btn btn-primary" style="margin-top: 23px;" (click)="getEventPlannerList()" type="button">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th>Planner</th>
                                    <th>Email</th>
                                    <th>Phone No.</th>
                                    <th>Location</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody  *ngIf="eventPlannerList">

                                <tr  *ngFor="let planner of eventPlannerList.users">
                                    <td>
                                        <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                            <img alt="image" class="img-circle" width="50px" src="assets/images/a7.jpg">
                                        </a>
                                        <!-- <span class="user-name">Patrick Smith</span> -->
                                        <h3 style="margin-top:14px;">{{planner.name}}</h3>
                                    </td>

                                    <td>{{planner.email}}</td>
                                    <td>{{planner.phone_number}}</td>
                                    <td><strong>{{planner.location}}</strong></td>
                                    <td>
                                        <div class="btn-group">

                                            <button class="btn-white btn btn-xs" [routerLink]="['/planner-details']" >View Details</button>

                                        </div>
                                    </td>
                                </tr>
                               
                               
                            </tbody>
                          
                        </table>
                        <div class="text-center" *ngIf="eventPlannerList">
                            <ngb-pagination *ngIf="eventPlannerList.count > 20" [collectionSize]="eventPlannerList.count" [size]="lg" [pageSize]="20" [(page)]="request.page" (pageChange)="getEventPlannerList()" aria-label="Default pagination"></ngb-pagination>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>