<app-edit-dialogue></app-edit-dialogue>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">

                <div class="ibox-title">
                    <span class="pull-right">(<strong *ngIf="serviceList" >{{serviceList.count}}</strong>) Services</span>
                    <h5>Service Management</h5>
                </div>


                <div class="ibox-content">

                    <div class="row" *ngIf="serviceList">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="price">Name</label>
                                <input type="text" id="price"  [(ngModel)]="request.keywords" name="price" value="" placeholder="Name"
                                    class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <button class="btn btn-primary" [disabled]="!serviceList.services.length" (click)="getServiceList()" style="margin-top: 23px;" type="submit">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>Offer </th>
                                    <th>Populor</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody *ngIf="serviceList" >

                                <tr  *ngFor="let service of serviceList.popular_services" >
                                    <td>{{service.name}}</td>
                                    <td>{{service.offer}}</td>
                                    <td>{{(service.is_popular && 'Yes') || (!service.is_popular && 'No')}}</td>
                                    <td>
                                        <div class="btn-group">

                                 <button class="btn-white btn btn-xs" [routerLink]="['/event-details']">Edit</button>

                                        </div>
                                    </td>
                                </tr>
                                <tr  *ngFor="let service of serviceList.services" >
                                    <td>{{service.name}}</td>
                                    <td>{{service.offer}}</td>
                                    <td>{{(service.is_popular && 'Yes') || (!service.is_popular && 'No')}}</td>
                                    <td>
                                        <div class="btn-group">

                                 <button class="btn-white btn btn-xs" (click)="open()" >Edit</button>

                                        </div>
                                    </td>
                                </tr>
                             
                            </tbody>
                        </table>
                        <div class="text-center" *ngIf="serviceList">
                            <ngb-pagination *ngIf="serviceList.count > 20" [collectionSize]="serviceList.count" [size]="lg" [pageSize]="20" [(page)]="request.page" (pageChange)="getServiceList()" aria-label="Default pagination"></ngb-pagination>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>