<div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-lg-6">
                <div class="ibox">
    
                    <div class="ibox-title">
                        <span class="pull-right"><strong><i class="fa fa-plus"></i> Add</strong> </span>
                        <h5>Event Types</h5>
                    </div>
    
                    <div class="ibox-content">
    
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
    
                                        <th>Type</th>
                                        <th class="text-right">Action</th>
                            
                                     
                                    </tr>
                                </thead>
                                <tbody *ngIf="eventTypeList">
    
                                    <tr *ngFor="let type of eventTypeList.event_types">
                                        <td>{{type.name}}</td>
                                        <td class="text-right">
                                                <div class="btn-group">
                                                    
                                                    <button class="btn-white btn btn-xs">Edit</button>
                                                    <button class="btn-white btn btn-xs">Delete</button>
                                                </div>
                                            </td>
                                    
                                    </tr>
                                    
                                   
    
                                </tbody>
                            </table>
                        </div>
    
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>


