.cover{
    object-fit: cover;
    width: 100%;
    height: 15vw;
}
.profile-img{
    position: absolute;
    left: 40px;
    top: 187px;

}
.widget-text-box {
    padding: 73px 20px 20px 20px;
    border: 1px solid #e7eaec;
    background: #ffffff;
}