<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Event Details</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/events']">Event</a>
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-head-color-box navy-bg text-center">

                <img src="assets/images/p_big3.jpg" class="cover" alt="profile">


                <img src="assets/images/a4.jpg" class="profile-img" alt="profile">

            </div>
            <div class="widget-text-box">
                <div class="row">
                    <div class="col-md-4">
                        <h2>
                            Janet Smith
                        </h2>
                        <ul class="list-unstyled m-t-md">
                            <li>
                                <span class="fa fa-envelope m-r-xs"></span>
                                <label>Event Name:</label>
                                mike@mail.com
                            </li>
                            <li>
                                <span class="fa fa-home m-r-xs"></span>
                                <label>Event Type:</label>
                                Street 200, Avenue 10
                            </li>
                            <li>
                                <span class="fa fa-phone m-r-xs"></span>
                                <label>Start Date:</label>
                                (+121) 678 3462
                            </li>
                            <li>
                                <i class="fa fa-star m-r-xs" aria-hidden="true"></i>

                                <label>End Date:&nbsp; </label>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </li>
                            <li>
                                <span class="fa fa-map-marker m-r-xs"></span>
                                <label>Location:</label>
                                Mohali,Punjab
                            </li>

                            <li>
                                <span class="fa fa-map-marker m-r-xs"></span>
                                <label>Guest Range:</label>
                                Mohali,Punjab
                            </li>

                            <li>
                                <span class="fa fa-map-marker m-r-xs"></span>
                                <label>Number of Guests:</label>
                                Mohali,Punjab
                            </li>

                            <li>
                                <span class="fa fa-map-marker m-r-xs"></span>
                                <label>Age Group:</label>
                                Mohali,Punjab
                            </li>




                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h2>
                            Details
                        </h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam dignissimos vero tenetur
                            possimus suscipit omnis voluptate! Rem excepturi itaque similique illum vero. Possimus
                            doloribus nulla saepe cum quos, adipisci tenetur!</p>

                    </div>
                    <div class="col-md-4">
                        <div class="">
                            <button type="button" class="btn btn-w-m btn-danger">Block</button><br><br>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <h2>Event Images</h2>


                    <div class="lightBoxGallery">
                        <a title="Image from Unsplash" data-target="assets/images/gallery/1.jpg"><img
                                src="assets/images/gallery/1s.jpg"></a>
                        <a href="assets/images/gallery/2.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/2s.jpg"></a>
                        <a href="assets/images/gallery/3.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/3s.jpg"></a>
                        <a href="assets/images/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/4s.jpg"></a>
                        <a href="assets/images/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/5s.jpg"></a>
                        <a href="assets/images/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/6s.jpg"></a>
                        <a href="assets/images/gallery/7.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/7s.jpg"></a>
                        <a href="assets/images/gallery/8.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/8s.jpg"></a>
                        <a href="assets/images/gallery/9.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/9s.jpg"></a>
                        <a href="assets/images/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/10s.jpg"></a>
                        <a href="assets/images/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/12s.jpg"></a>
                        <a href="assets/images/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/4s.jpg"></a>
                        <a href="assets/images/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/5s.jpg"></a>
                        <a href="assets/images/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/6s.jpg"></a>
                        <a href="assets/images/gallery/7.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/7s.jpg"></a>
                        <a href="assets/images/gallery/2.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/2s.jpg"></a>
                        <a href="assets/images/gallery/3.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/3s.jpg"></a>
                        <a href="assets/images/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/1s.jpg"></a>
                        <a href="assets/images/gallery/9.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="assets/images/gallery/9s.jpg"></a>



                        <div id="blueimp-gallery" class="blueimp-gallery">
                            <div class="slides"></div>
                            <h3 class="title"></h3>
                            <a class="prev">‹</a>
                            <a class="next">›</a>
                            <a class="close">×</a>
                            <a class="play-pause"></a>
                            <ol class="indicator"></ol>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox">

                <div class="ibox-title">
                    <span class="pull-right">(<strong>5</strong>) Services</span>
                    <h5>Services of Event</h5>
                </div>

                <div class="ibox-content">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="price">Name</label>
                                <input type="text" id="price" name="price" value="" placeholder="Name"
                                    class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <button class="btn btn-primary" style="margin-top: 23px;" type="submit">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th>User</th>
                                    <th>Event </th>
                                    <th>Service </th>
                                    <th>Estimate</th>
                                    <th>Action</th>


                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>
                                        <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                            <img alt="image" class="img-circle" width="50px" src="assets/images/a7.jpg">
                                        </a>
                                        <!-- <span class="user-name">Patrick Smith</span> -->
                                        <h3 style="margin-top:14px;">Patrick Smith</h3>
                                    </td>
                                    <td>
                                        <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                            <img alt="image" width="50px" src="assets/images/a7.jpg">
                                        </a>
                                        <!-- <span class="user-name">Patrick Smith</span> -->
                                        <h3 style="    margin-left: 39px;
    margin-top: 16px;">Wedding</h3>
                                    </td>
                                    <td>Cetring</td>
                                    <td>$1000</td>
                                    <td>
                                        <div class="btn-group">

                                            <button class="btn-white btn btn-xs" [routerLink]="['/event-details']">View
                                                Details</button>

                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                            <img alt="image" class="img-circle" width="50px" src="assets/images/a7.jpg">
                                        </a>
                                        <!-- <span class="user-name">Patrick Smith</span> -->
                                        <h3 style="margin-top:14px;">Patrick Smith</h3>
                                    </td>
                                    <td>
                                        <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                            <img alt="image" width="50px" src="assets/images/a7.jpg">
                                        </a>
                                        <!-- <span class="user-name">Patrick Smith</span> -->
                                        <h3 style="    margin-left: 39px;
    margin-top: 16px;">Wedding</h3>
                                    </td>
                                    <td>Cetring</td>
                                    <td>$1000</td>
                                    <td>
                                        <div class="btn-group">

                                            <button class="btn-white btn btn-xs" [routerLink]="['/event-details']">View
                                                Details</button>

                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                            <img alt="image" class="img-circle" width="50px" src="assets/images/a7.jpg">
                                        </a>
                                        <!-- <span class="user-name">Patrick Smith</span> -->
                                        <h3 style="margin-top:14px;">Patrick Smith</h3>
                                    </td>
                                    <td>
                                        <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                            <img alt="image" width="50px" src="assets/images/a7.jpg">
                                        </a>
                                        <!-- <span class="user-name">Patrick Smith</span> -->
                                        <h3 style="    margin-left: 39px;
    margin-top: 16px;">Wedding</h3>
                                    </td>
                                    <td>Cetring</td>
                                    <td>$1000</td>
                                    <td>
                                        <div class="btn-group">

                                            <button class="btn-white btn btn-xs" [routerLink]="['/event-details']">View
                                                Details</button>

                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                            <img alt="image" class="img-circle" width="50px" src="assets/images/a7.jpg">
                                        </a>
                                        <!-- <span class="user-name">Patrick Smith</span> -->
                                        <h3 style="margin-top:14px;">Patrick Smith</h3>
                                    </td>
                                    <td>
                                        <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                            <img alt="image" width="50px" src="assets/images/a7.jpg">
                                        </a>
                                        <!-- <span class="user-name">Patrick Smith</span> -->
                                        <h3 style="    margin-left: 39px;
    margin-top: 16px;">Wedding</h3>
                                    </td>
                                    <td>Cetring</td>
                                    <td>$1000</td>
                                    <td>
                                        <div class="btn-group">

                                            <button class="btn-white btn btn-xs" [routerLink]="['/event-details']">View
                                                Details</button>

                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                            <img alt="image" class="img-circle" width="50px" src="assets/images/a7.jpg">
                                        </a>
                                        <!-- <span class="user-name">Patrick Smith</span> -->
                                        <h3 style="margin-top:14px;">Patrick Smith</h3>
                                    </td>
                                    <td>
                                        <a href="profile.html" class="pull-left" style="margin-right: 10px;">
                                            <img alt="image" width="50px" src="assets/images/a7.jpg">
                                        </a>
                                        <!-- <span class="user-name">Patrick Smith</span> -->
                                        <h3 style="    margin-left: 39px;
    margin-top: 16px;">Wedding</h3>
                                    </td>
                                    <td>Cetring</td>
                                    <td>$1000</td>
                                    <td>
                                        <div class="btn-group">

                                            <button class="btn-white btn btn-xs" [routerLink]="['/event-details']">View
                                                Details</button>

                                        </div>
                                    </td>

                                </tr>


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>


    </div>