<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" dropdown>
          <img alt="image" class="img-circle" src="assets/images/profile_small.jpg">
          <a dropdownToggle>
            <span class="block m-t-xs"> <strong class="font-bold">Admin</strong> </span>
          </a>
          <ul class="animated fadeInRight dropdown-menu" *dropdownMenu>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Mailbox</a></li>
            <li class="divider"></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          IN+
        </div>
      </li>
      <li [ngClass]="{active: activeRoute('dashboard')}">
        <a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i>  <span class="nav-label">Dashboard</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('event-planners')}">
        <a [routerLink]="['/event-planners']"><i class="fa fa-calendar" aria-hidden="true"></i><span class="nav-label">Event Planners</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('vendors')}">
        <a [routerLink]="['/vendors']"><i class="fa fa-industry" aria-hidden="true"></i> <span class="nav-label">Vendors</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('events')}">
        <a [routerLink]="['/events']"><i class="fa fa-birthday-cake"></i> <span class="nav-label">Events</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('service-management')}">
        <a [routerLink]="['/service-management']"><i class="fa fa-server" aria-hidden="true"></i> <span class="nav-label">Service Management</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('event-type')}">
          <a [routerLink]="['/event-type']"><i class="fa fa-server" aria-hidden="true"></i> <span class="nav-label">Event Types</span></a>
        </li>
      <li [ngClass]="{active: activeRoute('transactions')}">
          <a [routerLink]="['/transactions']"><i class="fa fa-credit-card" aria-hidden="true"></i> <span class="nav-label">Transactions</span></a>
        </li>
    </ul>

  </div>
</nav>