<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name"></h1>
        </div>
        <h3>Welcome to My Events Admin Panel</h3>
        
        <p>Login in. To see it in action.</p>
        <form class="m-t" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
                <input type="email" class="form-control" formControlName="username" placeholder="Email" required="">
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Email is required</div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control"  formControlName="password"  placeholder="Password" required="">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <button type="submit" [disabled]="loading" class="btn btn-primary block full-width m-b">Login</button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
    </div>
</div>
<style>
    .loginscreen.middle-box {
    width: 300px;
    /* margin-top: 175px; */
}
.invalid-feedback{
    color:red
}
</style>