<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">

            <div class="ibox">
                <div class="ibox-title">
                    <span class="pull-right">(<strong>5</strong>) events</span>
                    <h5>Upcoming Events</h5>
                </div>
                <div class="ibox-content">


                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                            <a href="#" class="text-navy">
                                                Dolor Event Name
                                            </a>
                                        </h3>
                                        <dl class="small m-b-none">
                                            <dt>Lorem ipsum service</dt>
                                        </dl>
                                       
                                        <div class="m-t-sm">
                                                <a href="#" class="text-muted"><i class="fa fa-map-marker"
                                                    aria-hidden="true"></i> Mohali</a>
                                            .
                                            <a href="#" class="text-muted">Punjab</a>
                                                |
                                                <a href="#" class="text-muted"><i class="fa fa-clock-o"
                                                    aria-hidden="true"></i> Thu, Oct 12, 2019</a>
                                            </div>
                                    </td>
                                    <td>
                                        <h4>
                                            $180,00
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                        <td width="90">
                                            <div class="cart-product-imitation">
                                            </div>
                                        </td>
                                        <td class="desc">
                                            <h3>
                                                <a href="#" class="text-navy">
                                                    Dolor Event Name
                                                </a>
                                            </h3>
                                            <dl class="small m-b-none">
                                                <dt>Lorem ipsum service</dt>
                                            </dl>
                                           
                                            <div class="m-t-sm">
                                                    <a href="#" class="text-muted"><i class="fa fa-map-marker"
                                                        aria-hidden="true"></i> Mohali</a>
                                                .
                                                <a href="#" class="text-muted">Punjab</a>
                                                    |
                                                    <a href="#" class="text-muted"><i class="fa fa-clock-o"
                                                        aria-hidden="true"></i> Thu, Oct 12, 2019</a>
                                                </div>
                                        </td>
                                        <td>
                                            <h4>
                                                $180,00
                                            </h4>
                                        </td>
                                    </tr>
                                    <tr>
                                            <td width="90">
                                                <div class="cart-product-imitation">
                                                </div>
                                            </td>
                                            <td class="desc">
                                                <h3>
                                                    <a href="#" class="text-navy">
                                                        Dolor Event Name
                                                    </a>
                                                </h3>
                                                <dl class="small m-b-none">
                                                    <dt>Lorem ipsum service</dt>
                                                </dl>
                                               
                                                <div class="m-t-sm">
                                                        <a href="#" class="text-muted"><i class="fa fa-map-marker"
                                                            aria-hidden="true"></i> Mohali</a>
                                                    .
                                                    <a href="#" class="text-muted">Punjab</a>
                                                        |
                                                        <a href="#" class="text-muted"><i class="fa fa-clock-o"
                                                            aria-hidden="true"></i> Thu, Oct 12, 2019</a>
                                                    </div>
                                            </td>
                                            <td>
                                                <h4>
                                                    $180,00
                                                </h4>
                                            </td>
                                        </tr>
                                        <tr>
                                                <td width="90">
                                                    <div class="cart-product-imitation">
                                                    </div>
                                                </td>
                                                <td class="desc">
                                                    <h3>
                                                        <a href="#" class="text-navy">
                                                            Dolor Event Name
                                                        </a>
                                                    </h3>
                                                    <dl class="small m-b-none">
                                                        <dt>Lorem ipsum service</dt>
                                                    </dl>
                                                   
                                                    <div class="m-t-sm">
                                                            <a href="#" class="text-muted"><i class="fa fa-map-marker"
                                                                aria-hidden="true"></i> Mohali</a>
                                                        .
                                                        <a href="#" class="text-muted">Punjab</a>
                                                            |
                                                            <a href="#" class="text-muted"><i class="fa fa-clock-o"
                                                                aria-hidden="true"></i> Thu, Oct 12, 2019</a>
                                                        </div>
                                                </td>
                                                <td>
                                                    <h4>
                                                        $180,00
                                                    </h4>
                                                </td>
                                            </tr>
                                            <tr>
                                                    <td width="90">
                                                        <div class="cart-product-imitation">
                                                        </div>
                                                    </td>
                                                    <td class="desc">
                                                        <h3>
                                                            <a href="#" class="text-navy">
                                                                Dolor Event Name
                                                            </a>
                                                        </h3>
                                                        <dl class="small m-b-none">
                                                            <dt>Lorem ipsum service</dt>
                                                        </dl>
                                                       
                                                        <div class="m-t-sm">
                                                                <a href="#" class="text-muted"><i class="fa fa-map-marker"
                                                                    aria-hidden="true"></i> Mohali</a>
                                                            .
                                                            <a href="#" class="text-muted">Punjab</a>
                                                                |
                                                                <a href="#" class="text-muted"><i class="fa fa-clock-o"
                                                                    aria-hidden="true"></i> Thu, Oct 12, 2019</a>
                                                            </div>
                                                    </td>
                                                    <td>
                                                        <h4>
                                                            $180,00
                                                        </h4>
                                                    </td>
                                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
