<div class="wrapper wrapper-content" >
  <div class="row">
    <div class="col-lg-2">
      <div class="ibox float-e-margins">
        <div class="ibox-title">

          <h5>Sales</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins" *ngIf="dashboardData" >{{dashboardData.total_sales || '0'}}</h1>
          <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
          <small>Total Sales till now</small>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <!-- <span class="label label-info pull-right">Annual</span> -->
          <h5>Completed Event</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins" *ngIf="dashboardData">{{dashboardData.total_complete_events || 0}}</h1>
          <!-- <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div> -->
          <small>Total complete events</small>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <!-- <span class="label label-primary pull-right">W</span> -->
          <h5>Event Planners</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins" *ngIf="dashboardData">{{dashboardData.total_event_planners || 0}}</h1>
          <!-- <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div> -->
          <small>Total event planners</small>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <!-- <span class="label label-danger pull-right">Low value</span> -->
          <h5>Total Events</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins" *ngIf="dashboardData">{{dashboardData.total_events || 0}}</h1>
          <!-- <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div> -->
          <small>Total Events</small>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <!-- <span class="label label-danger pull-right">Low value</span> -->
          <h5>Upcoming Events</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins" *ngIf="dashboardData">{{dashboardData.total_upcoming_events || 0}}</h1>
          <!-- <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div> -->
          <small> Upcoming events</small>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <!-- <span class="label label-danger pull-right">Low value</span> -->
          <h5>Total Vendors</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins" *ngIf="dashboardData">{{dashboardData.total_vendors || 0}}</h1>
          <!-- <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div> -->
          <small>Total Vendors</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Sales Graph</h5>
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-xs btn-white active">Today</button>
              <button type="button" class="btn btn-xs btn-white">Monthly</button>
              <button type="button" class="btn btn-xs btn-white">Annual</button>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="flot-chart">
                <div flotChart class="flot-chart-content" [options]="flotOptions" [dataset]="flotDataset"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">

          <div class="ibox-title">
              <span class="pull-right">(<strong>5</strong>) events</span>
              <h5>Upcoming Events</h5>
          </div>

        <div class="ibox-content">
           
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="price">Event Name</label>
                <input type="text" id="price" name="price" value="" placeholder="Name" class="form-control">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="quantity">Event Type</label>
                <input type="text" id="quantity" name="quantity" value="" placeholder="Type" class="form-control">
              </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <button class="btn btn-primary" style="margin-top: 23px;" type="submit">Search</button>
                </div>
              </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>User Image</th>
                        <th>Event Name </th>
                        <th>User </th>
                        <th>Event Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Location</th>
                    </tr>
                    </thead>
              <tbody>

                <tr>
                  <td>1</td>
                  <td>Master project</td>
                  <td>Patrick Smith</td>
                  <td>$892,074</td>
                  <td>Inceptos Hymenaeos Ltd</td>
                  <td><strong>20%</strong></td>
                  <td>Jul 14, 2015</td>
                </tr>
        
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- <style>
  .ibox-title {
   
    border-color:none;
 
    border-style:none;

}
</style> -->