<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Event Planner Details</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/event-planners']" >Event Planners</a>
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-head-color-box navy-bg text-center">

                <img src="assets/images/p_big3.jpg" class="cover" alt="profile">


                <img src="assets/images/a4.jpg" class="profile-img" alt="profile">

            </div>
            <div class="widget-text-box">
                <div class="row">
                    <div class="col-md-4">
                        <h2>
                            Janet Smith
                        </h2>
                        <ul class="list-unstyled m-t-md">
                            <li>
                                <span class="fa fa-envelope m-r-xs"></span>
                                <label>Email:</label>
                                mike@mail.com
                            </li>
                            <li>
                                <span class="fa fa-home m-r-xs"></span>
                                <label>Address:</label>
                                Street 200, Avenue 10
                            </li>
                            <li>
                                <span class="fa fa-phone m-r-xs"></span>
                                <label>Contact:</label>
                                (+121) 678 3462
                            </li>
                            <li>
                                <span class="fa fa-map-marker m-r-xs"></span>
                                <label>Location:</label>
                                Mohali,Punjab
                            </li>
                            <li>
                                    <i class="fa fa-star m-r-xs" aria-hidden="true"></i>

                                    <label>Overall Rating:&nbsp; </label>
                                    <span
                                        class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h2>
                            Description
                        </h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam dignissimos vero tenetur
                            possimus suscipit omnis voluptate! Rem excepturi itaque similique illum vero. Possimus
                            doloribus nulla saepe cum quos, adipisci tenetur!</p>

                    </div>
                    <div class="col-md-4">
                        <div class="text-right">
                            <button type="button" class="btn btn-w-m btn-danger">Block</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Reviews</h5>
                    <div class="ibox-tools">
                        <span class="label label-warning-light pull-right">10 reviews</span>
                    </div>
                </div>
                <div class="ibox-content">

                    <div>
                        <div class="feed-activity-list">

                            <div class="feed-element">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="assets/images/a5.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right">12 sept 2019</small>
                                    <strong>Kim Smith</strong> <br>
                                    <small class="text-muted">Event</small>&nbsp; <strong>Birthday</strong><br>
                                    <small class="text-muted">Rating</small>&nbsp; <span
                                        class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s.
                                        Over the years, sometimes by accident, sometimes on purpose (injected humour and
                                        the like).
                                    </p>

                                </div>
                            </div>
                            <div class="feed-element">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="assets/images/a5.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right">12 sept 2019</small>
                                    <strong>Kim Smith</strong> <br>
                                    <small class="text-muted">Event</small>&nbsp; <strong>Birthday</strong><br>
                                    <small class="text-muted">Rating</small>&nbsp; <span
                                        class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s.
                                        Over the years, sometimes by accident, sometimes on purpose (injected humour and
                                        the like).
                                    </p>

                                </div>
                            </div>
                            <div class="feed-element">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="assets/images/a5.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right">12 sept 2019</small>
                                    <strong>Kim Smith</strong> <br>
                                    <small class="text-muted">Event</small>&nbsp; <strong>Birthday</strong><br>
                                    <small class="text-muted">Rating</small>&nbsp; <span
                                        class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s.
                                        Over the years, sometimes by accident, sometimes on purpose (injected humour and
                                        the like).
                                    </p>

                                </div>
                            </div>
                            <div class="feed-element">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="assets/images/a5.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right">12 sept 2019</small>
                                    <strong>Kim Smith</strong> <br>
                                    <small class="text-muted">Event</small>&nbsp; <strong>Birthday</strong><br>
                                    <small class="text-muted">Rating</small>&nbsp; <span
                                        class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s.
                                        Over the years, sometimes by accident, sometimes on purpose (injected humour and
                                        the like).
                                    </p>

                                </div>
                            </div>
                            <div class="feed-element">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="assets/images/a5.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right">12 sept 2019</small>
                                    <strong>Kim Smith</strong> <br>
                                    <small class="text-muted">Event</small>&nbsp; <strong>Birthday</strong><br>
                                    <small class="text-muted">Rating</small>&nbsp; <span
                                        class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s.
                                        Over the years, sometimes by accident, sometimes on purpose (injected humour and
                                        the like).
                                    </p>

                                </div>
                            </div>
                            <div class="feed-element">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="assets/images/a5.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right">12 sept 2019</small>
                                    <strong>Kim Smith</strong> <br>
                                    <small class="text-muted">Event</small>&nbsp; <strong>Birthday</strong><br>
                                    <small class="text-muted">Rating</small>&nbsp; <span
                                        class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s.
                                        Over the years, sometimes by accident, sometimes on purpose (injected humour and
                                        the like).
                                    </p>

                                </div>
                            </div>

                            <div class="feed-element">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="assets/images/a5.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right">12 sept 2019</small>
                                    <strong>Kim Smith</strong> <br>
                                    <small class="text-muted">Event</small>&nbsp; <strong>Birthday</strong><br>
                                    <small class="text-muted">Rating</small>&nbsp; <span
                                        class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s.
                                        Over the years, sometimes by accident, sometimes on purpose (injected humour and
                                        the like).
                                    </p>

                                </div>
                            </div>


                        </div>

                        <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Show
                            More</button>

                    </div>

                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="ibox">

                <div class="ibox-title">
                    <span class="pull-right">(<strong>5</strong>) events</span>
                    <h5>Events</h5>
                </div>

                <div class="ibox-content">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="price">Event Name</label>
                                <input type="text" id="price" name="price" value="" placeholder="Name"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="quantity">Event Type</label>
                                <input type="text" id="quantity" name="quantity" value="" placeholder="Type"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <button class="btn btn-primary" style="margin-top: 23px;" type="submit">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>


                                    <th>Event Name </th>

                                    <th>Event Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Location</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>

                                    <td>Master project</td>

                                    <td>Birthday</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Mohali, punjab</td>
                                </tr>
                                <tr>

                                    <td>Master project</td>

                                    <td>Birthday</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Mohali, punjab</td>
                                </tr>
                                <tr>

                                    <td>Master project</td>

                                    <td>Birthday</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Mohali, punjab</td>
                                </tr>
                                <tr>

                                    <td>Master project</td>

                                    <td>Birthday</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Mohali, punjab</td>
                                </tr>
                                <tr>

                                    <td>Master project</td>

                                    <td>Birthday</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Mohali, punjab</td>
                                </tr>
                                <tr>

                                    <td>Master project</td>

                                    <td>Birthday</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Mohali, punjab</td>
                                </tr>
                                <tr>

                                    <td>Master project</td>

                                    <td>Birthday</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Mohali, punjab</td>
                                </tr>
                                <tr>

                                    <td>Master project</td>

                                    <td>Birthday</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Mohali, punjab</td>
                                </tr>
                                <tr>

                                    <td>Master project</td>

                                    <td>Birthday</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Jul 14, 2015 12:00</td>
                                    <td>Mohali, punjab</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
  