<ngx-smart-modal #popupOne [identifier]="'popupOne'">
    <div class="modal-header">
        <h4 class="modal-title">Edit Service</h4>
      </div>
      <div class="modal-body">
        <p>Hello, {{name}}!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="popupOne.close()">Close</button>
      </div>
  </ngx-smart-modal>

